{# 
 # file: api-ansible/roles/mysql/templates/grant_sql.j2 
 #}
GRANT ALL ON *.* TO root@'%' IDENTIFIED BY '{{ mysqlrole_local_pw }}';
GRANT ALL ON *.* TO root@'{{ ansible_hostname }}' IDENTIFIED BY '{{ mysqlrole_local_pw }}';
