tickTime={{ wfm_zookeeper_tick_time }}
dataDir={{ wfm_zookeeper_data_dir }}
dataLogDir={{ wfm_zookeeper_log_dir }}
clientPort={{ wfm_zookeeper_client_port }}
initLimit={{ wfm_zookeeper_init_limit }}
syncLimit={{ wfm_zookeeper_sync_limit }}
{% for server in groups['tag_role_api-search-zookeeper'] %}
server.{{ hostvars[server].ec2_tag_zoo_id }}={{server}}:2888:3888
{% endfor %}