{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": [
        "s3:Get*",
        "s3:List*"
      ],
      "Resource": [
        "arn:aws:s3:::wfm-api-production-redshift-reports/production/{{ item }}",
        "arn:aws:s3:::wfm-api-production-redshift-reports/production/{{ item }}/*"
      ]
    }
  ]
}